[submodule "external-libs/Queue_Library"]
	path = external-libs/Queue_Library
	url = https://github.com/SMFSW/Queue.git
[submodule "external-libs/LinkedList_Library"]
	path = external-libs/LinkedList_Library
	url = https://github.com/ivanseidel/LinkedList.git
[submodule "external-libs/MD_MAX72XX"]
	path = external-libs/MD_MAX72XX
	url = https://github.com/MajicDesigns/MD_MAX72XX.git
